/* common shared styles */
* {
    margin: 0;
}

:root {
    --color-primary: #FD6E0A;
    --bg-primary: #FFF8F3;
    --text-primary: #757575;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: var(--color-primary);
}

.btn-primary {
    background-color: var(--color-primary);
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15px 35px;
}

.btn-primary-outline {
    background-color: unset;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    font-size: 20px;
    color: var(--color-primary);
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: var(--text-primary);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding: 30px 0;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header related styles */

.header {
    background-color: var(--bg-primary);
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 585px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
    font-weight: 600;
}

.banner-title {
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.banner-btn-group {
    display: flex;
    gap: 30px;
}

/* main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section */

.about {
    padding: 130px;
    background-color: var(--bg-primary);
    border-radius: 10px;
}

.about-info-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    line-height: 30px;
    font-size: 19px;
}

.about-info h4 {
    color: var(--text-primary);
    font-weight: 400;
}

.about-info p {
    font-weight: 700;
    color: #474747;
}

/* Skills section */

#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill img {
    margin-bottom: 20px;
}

.skill-title {
    margin-bottom: 20px;
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-description {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* Resume section styles */

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-container {
    display: flex;
    gap: 70px;
    margin-top: 130px;
}

.resume-column hr{
    margin: 30px 0;
    border-top: 1px solid #D1D1D1;
}

.resume-item-description,
.resume-item-institute {
    color: #757575;
}

.resume-item-institute {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.download-cv{
    margin-top: 50px;
    text-align: center;
}

/* Footer section style */

footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 130px;
    padding: 130px 200px;
}

.footer-column{
    width: 50%;
}

.social-links a{
    margin-right: 25px;
}

.footer-column-title{
    margin-bottom: 28px;
    text-align: left;
}

.footer-column-description{
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

textarea{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #757575;
    font-weight: 400;
}

.contact input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 16px;
    color: #757575;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}